/* основной темный цвет текста (заголовки) #212121 */
/* черный текст  #000000*/
/* основной цвет текста (не заголовки) #757575 */
/* белый текст/фон #FFFFFF */
/* вторичный белый цвет текста rgba(255, 255, 255, 0.6); */
/* вторичный светлый цвет фона #F5F4FA */
/* акцент #2196F3 */
/* ховер кнопки Заказать услугу #188ce8 */
/* Основной шрифт Roboto */

:root {
  --primary-text-color: #757575;
  --primary-dark-text-color: #212121;
  --secondary-dark-text-color: #000000;
  --primary-light-text-color: #ffffff;
  --secondary-light-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-light-background-color: #ffffff;
  --secondary-light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --header-line-boder-color: #ECECEC;
  --card-border-color: #EEEEEE;
  --icon-color: #AFB1B8;
  --footer-social-icon-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-light-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}

.title {
  color: var(--primary-dark-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  background-color: var(--primary-light-background-color);
  border-bottom: 1px solid var(--header-line-boder-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

/* .site-nav > .logo.link {
  padding-top: 24px;
  padding-bottom: 25px;
} */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);  
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo_dark {
  color: var(--secondary-dark-text-color);
}

.site-nav-list {
  display: flex;
  
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-dark-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  bottom: -1px;
  background: #2196F3;
  border-radius: 2px;
}



.site-nav__link.current,
.site-nav__link:hover,
.site-nav__link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}


.contacts-list {
  display: flex;
  margin-left: auto;
}


.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;  
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}


/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--secondary-accent-color);
}

/* Features */

.features

.features-item__icon {
  width: 70px;
  height: 70px;
}

.features-item__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-light-background-color) ;
}

.features__list {
  display: flex;
  margin-left: -30px;
  }

.features-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.features-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-item__text {
  font-size: 14px;
  line-height: 1.71;
}

/* Services */

.services {
  padding-bottom: 94px;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  margin-left: -30px;
}

.services-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 -30px);
}

.services-item-wraper {
  position: relative;
}

.services-item-title {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

/* Team */

.team {
  background-color: var(--secondary-light-background-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  background: var(--primary-light-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px; */
  flex-basis: calc(100% / 4 -30px);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: var(--primary-light-background-color);
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color:var(--primary-light-text-color);
}


/* Our clients */

.clients-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item {
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.clients-list-item + .clients-list-item {
  margin-left: 30px;
}

.clients-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients-list-link:hover, 
.clients-list-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}


/* Footer */

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* .footer-left {
  padding-right: 13.5px;
} */

.footer-logo-accent {
  color: var(--primary-light-text-color);
}

.footer-logo { 
  display: block;
  margin-right: 0px;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-light-text-color);
  margin-bottom: 9px;
}

.footer-address-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-light-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-center {
  margin-left: 70px;
}

.footer-social-list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  margin-bottom: 20px
}

.social-link-footer {
  background-color: var(--footer-social-icon-bg-color) ;
}

.social-icon-footer {
  fill: var(--primary-light-text-color);
}

.footer-right {
  margin-left: 93px;
}

.subscribe-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-light-text-color);
  margin-bottom: 20px;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color:var(--dark-background-color);
  color: var(--primary-light-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
}

.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--secondary-accent-color);
}

.subscribe-button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}


/* Portfolio */

.portfolio

.filter-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-dark-text-color);
  background-color: var(--secondary-light-background-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .filter-button.active {
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .filter-button:hover,
.portfolio .filter-button:focus {
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;  
}

.portfolio-item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-link:hover .portfolio-item-overlay-text,
.portfolio-item-link:focus .portfolio-item-overlay-text{
  transform: translateY(0);
}

.portfolio-img-wraper {
  position: relative;
  overflow-y: hidden;
}

.portfolio-item-overlay-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-light-text-color);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-item-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: var(--primary-light-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);    
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-light-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--secondary-dark-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn:hover, .modal-close-btn:focus {
  color:var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20) ;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-form-lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color:var(--primary-text-color);

}

.input-wrapper {
  position: relative;
  color: var(--secondary-dark-text-color);
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: var(--accent-color);
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-checkbox-lable {
  display: block;
  margin-left: 8px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.modal-checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-checkbox-icon{
  width: 16px;
  height: 15px;
}

.modal-form-checkbox:checked + .modal-checkbox-custom {
  background-color: var(--accent-color);  
  border: transparent;
}

.modal-form-checkbox:focus + .modal-checkbox-custom {
  border-color: var(--accent-color);
}

.agreement-terms-link {
  color: var(--accent-color);
  
}

.modal-submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover, .modal-submit-button:focus {
  background-color: var(--secondary-accent-color);
}
